[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest= "==5.4.1"

[packages]

enum34 = "==1.1.6"
redis = "==3.3.11"
elasticsearch-dsl= "==7.1.0"
gunicorn= "==20.0.4"
requests= "==2.22.0"
flask= "==1.1.1"
protobuf= "==3.12.2"

[requires]
python_version = "3.8.2"
